<div class="fondo">
    <div class="login-wrapper height-custom">
        <div class="cards-container">
            <div class="card-floating">
                <h2>Iniciar Sesión</h2>
                <form>
                    <label>Usuario</label>
                    <input type="text" id="usuario" required>

                </form>
            </div>
            <div class="card-floating blue-card">
                <!-- Contenido de la tarjeta azul -->
                <img src="../../assets/imagenes/persona.png" class="overlay-image">
            </div>
        </div>
    </div>
</div>