* {
  box-sizing: border-box;
}

html,
body {
  background: #ecf0f3;
  margin: 0;
}

/* Estilos para la página principal */
.principal-page {
  margin-left: 100px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
}

.custom-instructions {
  min-width: 200px;
  max-width: 80%;
  background: rgba(255, 255, 255, 0.15);
  padding: 3rem 1rem;
  border-radius: 2.5rem;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  color: black;
}

@media (max-width: 768px) {
  .principal-page {
    margin-left: 0;
    /* Restablece el margen si el ancho de la pantalla es menor */
  }

  .custom-instructions {
    max-width: 90%;
  }

  h1 {
    font-size: 1.5rem;
  }

  .custom-instructions textarea {
    height: 150px;
  }
}

h1 {
  margin: 0;
  padding: 0;
  color: rgb(102, 102, 102);
  font-family: monospace;
  font-size: 2.5rem;
  letter-spacing: 0.15em;
  text-align: center;
}

.custom-instructions textarea {
  display: block;
  margin: 2rem 0;
  width: 100%;
  height: 336px;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
  resize: none;
}

/* .custom-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
} */

.custom-input input {
  display: block;
  margin: 5rem 0;
  margin-left: auto;
  width: 200%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
}

.custom-input button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #a2c8cc;
  width: 200%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*PARA EL SIDENAV*/
.sidenav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  /* Ancho del sidenav */
  background-color: #a2c8cc;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  padding-top: 20px;
}

.user-avatar {
  text-align: center;
}

.user-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.logout-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}