<div class="sidenav">
    <div class="user-avatar">
        <img src="https://picsum.photos/50" alt="Avatar">
    </div>
    <div class="logout-btn" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
    </div>
</div>


<div class="principal-page">
    <div class="custom-instructions">
        <h1>INSTRUCCIONES</h1>
        <textarea type="text" readonly disabled> </textarea>
    </div>
    <div class="custom-input">
        <input type="number" id="userNumber" (keypress)="validateInput($event)" [(ngModel)]="userNumber"/>
        <br>
        <button (click)="play()">Enviar</button>
    </div>
</div>